<template>
    <div>
        <div v-if="comments != null">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p v-html="request.description" style="white-space: pre-line"></p>
                </li>
                <li class="list-group-item" v-for="comment in comments" v-if="(comment.hidden==0) || (user != null)">
                    <small class="pull-right">{{ comment.created_at }}</small>
                    <b v-if="comment.user_id" style="color:#c0392b;">[ {{ comment.user.name }} ]</b>
                    <b v-if="comment.applicant_id" style="color: #2980b9">[ {{ comment.applicant.name }} ]</b>
                    <b v-if="comment.hidden==1" style="color: #f1c40f">[Hidden]</b>
                    <p v-html="comment.body" align="right"></p>
                </li>
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-body" style="background-color: #fafbfc"
                 v-if="(user != null) || (request.request_information == 1)">
                <div class="row justify-content-center" v-if="update == true">
                    <label class="col-md-12 col-form-label text-md-right">
                        <em v-if="user != null">{{ user.name }}</em>
                    </label>
                    <div class="col-md-12 form-group"  style="background-color: #fff">
					
					<vue-editor v-model="body" id="comment" :editorToolbar="customToolbar"></vue-editor>
					
				
                    </div>
                    <div class="col-md-9 offset-md-3" v-if="user != null">
                        <label for="hidden">Message caché pour le demandeur</label>
                        <input type="checkbox" name="hidden" id="hidden" v-model="hidden" value="1"
                               style="width: 50px;">
                    </div>
                    <div class="col-md-9 offset-md-3 form-group">
                        <button class="btn btn-lg btn-primary" @click="send_comment()">Ajouter</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
	import { VueEditor } from "vue2-editor";

    export default {
        name: 'Comments',
		components: {
			VueEditor
		},
        props: {
            app_url: {
                type: String,
                required: true
            },
            request: {
                type: Object,
                required: true
            },
            user: {
                type: Object,
                default: null
            },
            update: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                comments: null,
                body: null,
                hidden: true,
				customToolbar: [["bold", "italic", "underline"],[{ 'header': 1 }, { 'header': 2 }],[{ 'color': [] }, { 'background': [] }]]
            }
        },
        mounted() {
            this.load_comments();
            EventBus.$on('NewFile', function(payLoad) {
                this.load_comments();
            });
        },
        methods: {
            load_comments() {
                axios.post(this.app_url + '/api/comments', {
                    request_id: this.request.id,
					cle:this.request.key
                })
                    .then((response) => {
                        this.comments = response.data;
                    })
            },
            async send_comment() {
                let code = Math.floor(Math.random() * (100 - 999) + 999);
				if(this.hidden == false){
					let remove = prompt("Please re-enter the code : '" + code + "' to confirm", "");
					if (remove == code) {
						await axios.post(this.app_url + '/api/post_comment', {
							request_id: this.request.id,
							user: this.user,
							applicant: this.applicant,
							body: this.body,
							hidden: this.hidden ? 1 : 0,
							cle:this.request.key
						})
							.then((response) => {
								this.body = null;
								this.load_comments();
								this.hidden = true;

						})
					}
				}
				else
				{
					
						await axios.post(this.app_url + '/api/post_comment', {
							request_id: this.request.id,
							user: this.user,
							applicant: this.applicant,
							body: this.body,
							hidden: this.hidden ? 1 : 0,
							cle:this.request.key
						})
							.then((response) => {
								this.body = null;
								this.load_comments();
								this.hidden = true;

						})
					
					
				}
					
            }
        }
    }
</script>

<style lang="scss">
    .files-body {
        padding: 0px;
    }

    .list-group-item {
        p {
            font-size: 20px;
			direction: rtl;
        }
    }
	
	.ql-editor {
    direction: rtl !important; 
    text-align: right !important;
    }

    .card-comment {
        border-radius: 0px 0px 5px 5px;
    }
</style>
