<template>
    <div class="panel panel-default">
        <div class="panel-heading"
             data-toggle="collapse"
             href="#collapseFile"
             role="button"
             aria-expanded="true"
             aria-controls="collapseFile">
            Pièces jointes
        </div>
        <div class="collapse  in show" id="collapseFile">
            <div class="panel-body">
                <div class="files-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" v-for="(file, index) in files">
                            <small style="color: #757575;">[{{ file.created_at }}]</small><a :href="file.src"
                                                                                             style="color: #c42d27"
                                                                                             target="_blank">{{ file.name }}</a>
                        </li>
                    </ul>
                    <div v-if="(user != null) || (request.request_information == 1)">
                        <div v-if="update == true" style="margin-top: 15px;">
                            <div class="progress" style="margin-bottom:10px;" v-show="(progress != 100) && (progress != 0)">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                     :style="{ width:  progress + '%' }" v-bind:aria-valuenow="progress" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Pièces jointes</label>
                                <div class="col-md-8">
                                    <label for="file" class="btn btn-dark">Transférer des fichiers</label>
                                    <input type="file" accept=".doc, .docx, .pdf, .png, .jpeg, .jpg" id="file" @change="uploadsFiles" class="d-none">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';

    export default {
        name: 'Files',
        props: {
            app_url: {
                type: String,
                required: true
            },
            request: {
                type: Object,
                required: true
            },
            user: {
                type: Object,
                default: null
            },
            applicant: {
                type: Object,
                default: null
            },
            update: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                files: [],
                file_to_upload: [],
                errors: [],
                progress: 0,
            }
        },
        mounted() {
            this.getFiles();
        },
        methods: {
            getFiles() {
                axios.post(this.app_url + '/api/files', {
                    request_id: this.request.id,
					cle:this.request.key
                })
                    .then((response) => {
                        this.files = response.data;
                    })
            },
            uploadsFiles(event) {
                this.file_to_upload = event.target.files;
                for (var i = 0; i < this.file_to_upload.length; i++) {
                    this.errors = [];
                    const fa = new FormData();
                    fa.append('file', this.file_to_upload[i]);
                    axios.post(this.app_url + '/api/add_file/' + this.request.id+'|'+this.request.key, fa, {
                        onUploadProgress: uploadEvent => {
                            this.progress = Math.round(uploadEvent.loaded / uploadEvent.total * 100);
                        }
                    })
                        .then((res) => {
                            this.files.push(res.data);
                            axios.post(this.app_url + '/api/post_comment', {
                                request_id: this.request.id,
                                user: this.user,
                                applicant: this.applicant,
                                body: 'a ajouté un nouveau fichier nommé: ' + res.data.name,
                                hidden: 0,
								cle:this.request.key
                            })
                                .then((response) => {
                                    //console.log('new comment');
                                    this.emitMethod();
                                })

                        })
                }
            },
            removeFile(index, fileId) {
                let code = Math.floor(Math.random() * (100 - 999) + 999);
                let remove = prompt("Please re-enter the code to confirm: " + code, "");
                if (remove == code) {
                    axios.post(this.app_url + '/api/remove_file', {'file_id': fileId,'request_id': this.request.id,'cle': this.request.key})
                        .then((res) => {
                            this.files.splice(index, 1);
                            axios.post(this.app_url + '/api/post_comment', {
                                request_id: this.request.id,
                                user: this.user,
                                applicant: this.applicant,
                                body: (this.applicant != null) ? this.applicant.name + ' a supprimé un fichier' : this.user.name + ' a supprimé un fichier',
                                hidden: 0,
								cle:this.request.key
                            })
                                .then((response) => {
                                    this.emitMethod();
                                })
                        })
                }

            },
            emitMethod () {
                EventBus.$emit('NewFile', true);
            }
        }
    }
</script>

<style lang="scss">
    .remove {
        color: #757575;

        &:hover {
            color: #000;
            cursor: pointer;
        }
    }

    .files-body {
        padding: 0px;
    }
</style>
